.libs
.deps
.libs
.dirstamp
.DS_Store
.cdt*
.project
.gdb*

.hgrc
.hgignore
.hg
.hgignore_local

*.la
*.lo
*.o
*.so
*.a
*.dwarf
*.dSYM
*.S
*.loT
*.orig
*.rej
*.bak
*.class
*.xcscheme
*.out
*.plist
*.orig
*.obj
*.mod
*.i90
*.ii
*.ti
*.exe
*.log
*.trs
*.sapp
*~
*\\#

Makefile
Makefile.in
static-components.h
*\\#
config.cache
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
doxygen
bin
lib
cscope.*
etags
GRTAGS
GSYMS
GTAGS
GPATH
vc70.pdb
.hgrc
.hgignore
.hg
.hgignore_local
stamp-h?
AUTHORS

ar-lib
ylwrap
config.lt
config.guess
config.sub
depcomp
compile
install-sh
ltmain.sh
missing
mkinstalldirs
libtool.m4
lt~obsolete.m4
ltdl.m4
argz.m4
ltargz.m4
ltsugar.m4
ltversion.m4
ltoptions.m4

config/project_list.m4
config/autogen_found_items.m4
config/opal_get_version.sh
config/test-driver
config/mca_no_configure_components.m4
config/mca_m4_config_include.m4
config/ext_no_configure_components.m4
config/ext_m4_config_include.m4

contrib/build-mca-comps-outside-of-tree/btl_tcp2_config.h
contrib/build-mca-comps-outside-of-tree/btl_tcp2_config.h.in
contrib/build-mca-comps-outside-of-tree/config
contrib/build-mca-comps-outside-of-tree/aclocal.m4
contrib/dist/linux/compile_debian_mlnx_example
contrib/dist/mofed/compile_debian_mlnx_example
contrib/dist/mofed/debian/changelog
contrib/dist/mofed/debian/control
contrib/dist/mofed/debian/copyright
contrib/dist/mofed/debian/rules
contrib/platform/intel/bend/*orcm*
contrib/scaling/orte_no_op
contrib/scaling/mpi_no_op
contrib/scaling/mpi_barrier
contrib/scaling/mpi_memprobe

examples/alloc
examples/bad_exit
examples/client
examples/client2
examples/dmodex
examples/dynamic
examples/fault
examples/hello
examples/jctrl
examples/launcher
examples/log
examples/pmi1client
examples/probe
examples/pub
examples/target
examples/tool
examples/debugger/direct
examples/debugger/indirect
examples/debugger/attach
examples/debugger/daemon
examples/debugger/hello

opal/libltdl

opal/asm/atomic-asm.S
opal/asm/atomic-test
opal/asm/generated/atomic-*.s

opal/include/opal_config.h
opal/include/opal_config.h.in
opal/include/opal/install_dirs.h
opal/include/opal/version.h
opal/include/opal/frameworks.h
opal/include/opal/sys/powerpc/atomic-32.s
opal/include/opal/sys/powerpc/atomic-64.s
opal/include/opal/sys/powerpc/atomic-32-64.s

opal/mca/base/mca_base_parse_paramfile_lex.c

opal/mca/common/libfabric/libfabric/config.h

opal/mca/btl/openib/btl_openib_lex.c

opal/mca/btl/usnic/usnic_btl_run_tests

opal/mca/crs/opal_crs.7

opal/mca/event/libevent*/libevent/config.h.in
opal/mca/event/libevent*/libevent/config.h
opal/mca/event/libevent*/libevent/libevent.pc
opal/mca/event/libevent*/libevent/libevent_openssl.pc
opal/mca/event/libevent*/libevent/libevent_pthreads.pc
opal/mca/event/libevent*/libevent/include/event2/event-config.h

opal/mca/hwloc/hwloc*/hwloc/include/hwloc/autogen/config.h
opal/mca/hwloc/hwloc*/hwloc/include/private/autogen/config.h
opal/mca/hwloc/base/static-components.h.new.extern
opal/mca/hwloc/base/static-components.h.new.struct

opal/mca/installdirs/config/install_dirs.h

opal/tools/wrappers/opalcc-wrapper-data.txt
opal/tools/wrappers/opalc++-wrapper-data.txt
opal/tools/wrappers/opalc++.1
opal/tools/wrappers/opalcc-wrapper-data.txt
opal/tools/wrappers/opal_wrapper
opal/tools/wrappers/opalcc.1
opal/tools/wrappers/generic_wrapper.1
opal/tools/wrappers/opal_wrapper.1
opal/tools/wrappers/opal.pc

opal/util/show_help_lex.c
opal/util/keyval/keyval_lex.c

orte/doxygen

orte/include/orte/version.h
orte/include/orte/frameworks.h

orte/mca/filem/orte_filem.7

orte/mca/rmaps/rank_file/rmaps_rank_file_lex.c
orte/mca/rmaps/rank_file/rankfile_lex.c

orte/mca/snapc/orte_snapc.7

orte/mca/sstore/orte_sstore.7

orte/test/mpi/abort
orte/test/mpi/accept
orte/test/mpi/attach
orte/test/mpi/bad_exit
orte/test/mpi/bcast_loop
orte/test/mpi/binding
orte/test/mpi/concurrent_spawn
orte/test/mpi/connect
orte/test/mpi/crisscross
orte/test/mpi/delayed_abort
orte/test/mpi/hello_barrier
orte/test/mpi/hello_nodename
orte/test/mpi/hello_output
orte/test/mpi/hello_show_help
orte/test/mpi/hello
orte/test/mpi/hello++
orte/test/mpi/interlib
orte/test/mpi/loop_child
orte/test/mpi/loop_spawn
orte/test/mpi/mpi_barrier
orte/test/mpi/mpi_no_op
orte/test/mpi/mpi_spin
orte/test/mpi/multi_abort
orte/test/mpi/parallel_r8
orte/test/mpi/parallel_r64
orte/test/mpi/parallel_w8
orte/test/mpi/parallel_w64
orte/test/mpi/pinterlib
orte/test/mpi/pmix
orte/test/mpi/pubsub
orte/test/mpi/read_write
orte/test/mpi/reduce-hang
orte/test/mpi/ring
orte/test/mpi/segv
orte/test/mpi/simple_spawn
orte/test/mpi/slave
orte/test/mpi/spawn_multiple
orte/test/mpi/xlib
orte/test/mpi/ziaprobe
orte/test/mpi/ziatest
orte/test/mpi/*.dwarf
orte/test/mpi/junk*
orte/test/mpi/sio
orte/test/mpi/sendrecv_blaster
orte/test/mpi/early_abort
orte/test/mpi/spawn_problem/ch_rec
orte/test/mpi/spawn_problem/output
orte/test/mpi/spawn_problem/start
orte/test/mpi/debugger
orte/test/mpi/server_port_name.txt
orte/test/mpi/singleton_client_server
orte/test/mpi/intercomm_create
orte/test/mpi/spawn_tree
orte/test/mpi/init-exit77
orte/test/mpi/mpi_info
orte/test/mpi/info_spawn
orte/test/mpi/client
orte/test/mpi/server
orte/test/mpi/paccept
orte/test/mpi/pconnect
orte/test/mpi/thread_init
orte/test/mpi/memcached-dummy
orte/test/mpi/coll_test
orte/test/mpi/badcoll
orte/test/mpi/iof
orte/test/mpi/no-disconnect
orte/test/mpi/nonzero
orte/test/mpi/add_host

orte/test/system/radix
orte/test/system/sigusr_trap
orte/test/system/orte_no_op
orte/test/system/no_op
orte/test/system/hello
orte/test/system/hello_nodename
orte/test/system/hello_null
orte/test/system/spin
orte/test/system/orte_nodename
orte/test/system/orte_proc_subscribe
orte/test/system/orte_spawn
orte/test/system/orte_stage_gate
orte/test/system/orte_loop_spawn
orte/test/system/orte_loop_child
orte/test/system/orte_abort
orte/test/system/get_limits
orte/test/system/orte_ring
orte/test/system/spawn_child
orte/test/system/orte_tool
orte/test/system/binom
orte/test/system/iof_stress
orte/test/system/oob_stress
orte/test/system/iof_delay
orte/test/system/orte_barrier
orte/test/system/orte_mcast
orte/test/system/mcast
orte/test/system/mcast_recv
orte/test/system/opal_interface
orte/test/system/orte_spin
orte/test/system/segfault
orte/test/system/sysinfo
orte/test/system/orte_exit
orte/test/system/orte_db
orte/test/system/orte_state
orte/test/system/orte_sensor
orte/test/system/event-threads
orte/test/system/test-time
orte/test/system/psm_keygen
orte/test/system/pspawn
orte/test/system/regex
orte/test/system/orte_errors
orte/test/system/evthread-test
orte/test/system/evpri-test
orte/test/system/opal-evpri-test
orte/test/system/evpri-test2
orte/test/system/opal_hotel
orte/test/system/orte_dfs
orte/test/system/orte_allocate
orte/test/system/getenv_pmi
orte/test/system/pmi_abort
orte/test/system/opal_hwloc
orte/test/system/opal_db
orte/test/system/ulfm
orte/test/system/pmixtool
orte/test/system/orte_notify
orte/test/system/threads

orte/tools/prun/prun
orte/tools/prun/prun.1
orte/tools/prte_info/prte_info
orte/tools/prte_info/pinfo.1
orte/tools/prted/prted
orte/tools/prted/prted.1
orte/tools/prte/prte
orte/tools/prte/prte.1
orte/tools/wrappers/pcc-wrapper-data.txt
orte/tools/wrappers/pcc_wrapper_script
orte/tools/wrappers/pcc.pc

orte/util/hostfile/hostfile_lex.c
orte/util/hostfile/orte_hosts.7
