name: DVM

on: [pull_request]

permissions:
  contents: read

jobs:
  pub-lookup:
    runs-on: ubuntu-22.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y --no-install-recommends wget software-properties-common hwloc libhwloc-dev libevent-2.1-7 libevent-dev
    - uses: actions/checkout@v4
      with:
            submodules: recursive
    - name: Git clone PMIx
      uses: actions/checkout@v3
      with:
            submodules: recursive
            repository: openpmix/openpmix
            path: openpmix/v5.0
            ref: v5.0
    - name: Build PMIx
      run: |
        cd openpmix/v5.0
        ./autogen.pl
        ./configure --prefix=$RUNNER_TEMP/pmixinstall
        make -j
        make install
    - name: Git clone PRRTE
      uses: actions/checkout@v3
      with:
            submodules: recursive
            clean: false
    - name: Build PRRTE
      run: |
        ./autogen.pl
        ./configure --prefix=$RUNNER_TEMP/prteinstall --with-pmix=$RUNNER_TEMP/pmixinstall --enable-devel-check
        make -j
        make install
    - name: Tweak PRRTE
      run:  |
         # Tweak PRRTE
         mca_params="$HOME/.prte/mca-params.conf"
         mkdir -p "$(dirname "$mca_params")"
         echo rmaps_default_mapping_policy = :oversubscribe >> "$mca_params"

    - name: Run simple test
      run: |
         export PATH=$RUNNER_TEMP/prteinstall/bin:${PATH}
         export LD_LIBRARY_PATH=$RUNNER_TEMP/prteinstall/lib:${LD_LIBRARY_PATH}
         prterun -n 4 --pset foo ./openpmix/v5.0/examples/hello
      if:   ${{ true }}
      timeout-minutes: 5

    - name: Run pub-lookup test1
      run: |
         export PATH=$RUNNER_TEMP/prteinstall/bin:${PATH}
         export LD_LIBRARY_PATH=$RUNNER_TEMP/prteinstall/lib:${LD_LIBRARY_PATH}
         prterun -n 3 ./openpmix/v5.0/examples/pub
      if:   ${{ true }}
      timeout-minutes: 5
